.form {
  padding-top: 15px;
}
.form .row {
  margin-bottom: 15px;
}
.form label {
  font-weight: 500;
}
.select-addr-con {
  background: #fcfcfc;
  position: absolute;
  top: 100%;
  left: 15px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.select-addr-con p.btn-con {
  margin: 0;
  padding: 4px 15px;
  border-bottom: 1px solid #00b3ee;
}
.select-addr-con .select-con {
  padding: 15px;
}
.select-addr-con .select-con select.form-control {
  display: inline-block;
  width: auto;
}
.modal .modal-body .org-list label {
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}
