.btns .btn{
    padding: 2px 10px;
}


.btn-primary {
    background-color: #22b6e8;
    border-color: #22b6e8;
}
[type="button"].btn-primary{
    min-width: 60px;
    padding: 5px 9px;
    margin-left: 10px;
}
.fa-tasks{
    position: relative;
    left:-22px;
}




.pageGo {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
}
.pageGo input[type=number] {
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 2px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
}
.pageGo input[type=button] {
    height: 30px;
    width: 40px;
    background-color: #337ab7;
    color: #fff;
    border: 0px none;
    border-radius: 3px;
}
/*去除type=number的默认样式*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.search_box{
    padding: 13px 0;
    border-bottom: 1px solid #eee;
}
.btns{
    padding-bottom: 15px;
}
table thead {
    background-color: #f1f1f1;
}




#table_con{
    width: 100%;
    height: 500px;
}
#pa_table{
    position: fixed;
    z-index: 1;
    height: 39px;
    overflow: hidden;
}
#pa_table tbody td{
    padding-bottom: 0;
    padding-top: 0;
    border: none;
}
#pa_table tbody div{
    height: 0;
    overflow: hidden;
}

.maxwidth{
    max-width: 160px;
}