/* 菜单管理 */
.menu-box{margin-top: 15px;}
.menu-box .menu-top{margin:0 12px 16px;}
.menu-box .menu-top .btn.primary{margin-right: 15px;background-color: #3ca5f6;border:0px none;}

.menu-content{border-top: 1px solid #e5e5e5;position: relative;height: 800px}
.menu-content #leftPanel{width: 260px;border-right: 1px solid #e5e5e5;position: absolute;left:0;height: 100%;border-bottom: 1px solid #e5e5e5;overflow: auto;}
.menu-content #mainPanel{padding-left: 261px;}
.menu-content #mainPanel form{padding:0 20px; }
.menu-content #mainPanel form .ver-mid{height: 35px;line-height: 35px;}

.roles-content{margin-left: 10%;width: 80%;max-width: 1000px;}
.roles-content table{margin-bottom: 0px;}
.roles-content .roles-oper{text-align: center;margin-top: 30px;}
.roles-content .roles-table-con caption{color: #15428B;line-height: 34px;}
.roles-content .roles-table-con thead{background-color: #eee;}
.roles-content .roles-table-con thead th{border-bottom: 0px none;}
.roles-content .roles-table-con .td-checkbox{width: 28px;text-align: center;}
.resource-content .btn{width: 60px;}
.resource-content .btn-warning{background-color: #ccc;border-color:#ccc }
.resource-content .btn-warning:active{background-color: #ccc;border-color:#ccc}
.resource-content .btn-primary{background-color: #3ca5f6;border-color:#3ca5f6 }
.resource-content .btn-primary:active{background-color: #3ca5f6;border-color:#3ca5f6; }

.resource-content label+input[type=radio]{margin:10px 10px 0 6px;vertical-align: top;}

.out-role-search{width: 60%;padding-right: 45px;position: relative;}
.out-role-search button{position: absolute;width: 38px;height: 34px;right: 0;top: 0;background-color: #eee;border-color: #eee;}
.out-role-search button:hover{background-color: #3ca5f6;color: #fff;border-color: #3ca5f6;}

.error{color: #fa3a30;font-weight: normal;margin-bottom: 0px;}

/*弹窗样式覆盖*/
.bootstrap-dialog .modal-header{border-bottom: 0px none}













