body,
html,
table {
  width: 100%;
  height: 100%;
}
.menutd {
  height: 100%;
  background-color: #242d45;
}
.accordion {
  position: relative;
  z-index: 20;
  width: 180px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion .link {
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #8894ad;
  padding-left: 10px;
  font-size: 14px;
  border-bottom: 1px solid #1B2029;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion .link.active {
  background-color: #4abd7b;
  color: #fff;
}
.accordion .link.active i {
  background: url("../images/add_white.png") no-repeat;
  background-size: 100% 100%;
}
.accordion li i {
  position: absolute;
  top: 22px;
  right: 10px;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.accordion li i.fa-chevron-down {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/add.png") no-repeat;
  background-size: 100% 100%;
}
.accordion li.open i.fa-chevron-down {
  width: 12px;
  height: 3px;
  background: url("../images/minus.png") no-repeat;
  background-size: 100% 100%;
}
.accordion li.open .active i.fa-chevron-down {
  background: url("../images/minus_white.png") no-repeat;
  background-size: 100% 100%;
}
/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  width: 100%;
  position: relative;
  font-size: 14px;
}
.submenu a {
  display: block;
  text-decoration: none;
  color: #8894ad;
  font-size: 12px;
  background-color: #1d253a;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu a:hover {
  color: #8894ad;
}
.submenu a.active {
  color: #fff;
  background-color: #4abd7b;
}
