.form {
  margin: 0 auto;
  padding-top: 30px;
}
.form .row .form-group {
  text-align: right;
}
.form .row .form-group .red-star {
  display: inline-block;
  width: 14%;
}
.form input {
  display: inline-block;
  width: 82%;
}
